/*utilities*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.debug {
  header {
    background-color: cyan;
    .site_header {
      background-color: yellow;
    }
  }
  main {
    #jumbotron_container {
      background-color: blue;
      #jumbotron {
        background-color: purple;
      }
    }
    #io_container {
      background-color: black;

      .half_1 {
        background-color: lightskyblue;
      }
      .half_2 {
        background-color: pink;
      }
    }
    #community_container{
        background-color: gray;
        .half_1 {
        background-color: lightskyblue;
      }
      .half_2 {
        background-color: pink;
    }
  }
    #fandom_container{
        background-color: black;
        .half_1 {
        background-color: lightskyblue;
        }
        .half_2 {
        background-color: pink;
        }
  }
  #technology_container{
    background-color: gray;
    #technology{
        background-color: green;
    }
  }
}
   #site_footer{
    background-color: darkslategray;
    #upper_footer{
        .bigger_footer_area{
         background-color: salmon;
        }
        .smaller_footer_area{
            background-color: cyan;
         }
    }
    #lower_footer{
        background-color: turquoise;
    }
  }

.d-flex {
  display: flex;
}

.unstyled_list {
  list-style: none;
  gap: 1rem;
}

a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: black;
    }
  }

.container_spacing {
  padding: 3rem 0;
}

/*utilities end*/

#header_container {
  padding: 0.5rem;
}

.site_header {
  min-height: 2rem;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  margin: auto;
}

#site_logo {
  flex-grow: 1;
  margin-left: 1rem;
}

.nav_menu {
  flex-grow: 3;
  justify-content: center;
}

#login_btn {
  flex-grow: 1;
  text-align: end;
  margin-right: 1rem;
}
/* HEADER END */

#jumbotron_container,
#jumbotron {
  min-height: 20rem;
}

#jumbotron {
  max-width: 50%;
  margin: auto;
}

/* JUMBOTRON END */

.feature_boxes {
  max-width: 70%;
  margin: auto;
  min-height: 22rem;
}

.half_1,
.half_2 {
  min-height: 22rem;
}

#half_1_io,#half_2_co,#half_1_fan{
    flex-grow: 2;
}

#half_2_io,#half_1_co,#half_2_fan{
    flex-grow: 1;
}

/*FEATURE BOXES END */


#technology{
    max-width: 70%;
    margin:auto;
    min-height: 44rem;
}

/*TECHNOLOGY BOX END */

.bigger_footer_area{
    flex-grow: 2;
}

.smaller_footer_area{
    flex-grow:1;
    background-color: red;
}

#upper_footer{
    min-height: 22rem;
    max-width: 70%;
    margin: auto;
    margin-bottom: 2rem;
}

#lower_footer{
    min-height: 3rem;
    max-width: 70%;
    margin: auto;
    padding: 1,0rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    
}

#footer_logo,#footer_btn{
    background-color: palevioletred;
}
hr{
    border-color: white;
}

/*FOOTER END */
